.main{
    width:250px;
    height:250px;
    border:1px solid #CCC;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    margin-top: 60px;
    margin-left: 310px;
    border-radius:50%; 
}



.circle{
    width:50px;
    height:50px;
    background:rgb(91, 200, 100);
    border-radius:50%;
    position:absolute;
    top: 0; bottom:0; left:0;right:0;
    overflow:hidden;
    animation: circle 6s linear infinite;
    margin: auto;
    z-index: 1;

    }

    @keyframes circle{
        0%{
            transform:rotate(0deg)
                    translate(-125px)
                    rotate(0deg);
        
        }
        100%{
            transform:rotate(360deg)
                    translate(-125px)
                    rotate(-360deg);
        }
        }                

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
} 

img { 
    clip-path: circle(50%);
    width:250px;
    height:250px;
    z-index: -1;
    position:absolute;
}



#mySidenav a {
position: absolute;
left: -100px;
transition: 0.6s;
padding: 15px;
width: 110px;
text-decoration: none;
font-size: 17px;
color: rgb(0, 0, 0);
border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
left: 0;
}

#about {
font-size: 10px;
top: 20px;
background-color: #406661;
font-family: "Chonburi", serif;
}

#blog {
top: 80px;
background-color: #328E6E;
font-family: "Chonburi", serif;
}

#projects {
top: 140px;
background-color: #67AE6E;
font-family: "Chonburi", serif;
}

#contact {
top: 200px;
background-color: #90C67C;
font-family: "Chonburi", serif;
}

#love {
top: 260px;
background-color: #E1EEBC;
font-family: "Chonburi", serif;
}


html
{
    background-color: #ae97d8;
    background-image: url('DSC01194-1 (1).jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(46, 203, 41, 0.829);
    text-align: center;
    height: 650px;
    width: 500px;
    margin-right: -450px;
    position: absolute;
    margin-top: -390px;

}

.glass-effect-2 {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 120px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(46, 203, 41, 0.829);
    /* text-align: center; */
    height: 80px;
    width: 400px;
    margin-left: -505px;
    margin-top: 50px;
    display: grid;
    position: relative;
    



}

.glass-effect-2:hover {

    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
}


.glass-effect-3 {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 120px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(46, 203, 41, 0.829);
    /* text-align: center; */
    height: 80px;
    width: 400px;
    margin-left: -505px;
    display: grid;
    position: absolute;
    margin-top: 30px;



}

.glass-effect-3:hover {

    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
}


.glass-effect-4 {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 120px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(46, 203, 41, 0.829);
    /* text-align: center; */
    height: 80px;
    width: 400px;
    margin-left: -505px;
    display: grid;
    position: absolute;
    margin-top: 140px;



}

.glass-effect-4:hover {

    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
}

#id{
    text-align: center;
    color: black;
    font-size: larger;
    position: absolute;
    top: 32%;
    left: 115px;
    font-family: "Audiowide", sans-serif;


}

.ig {
    width: 20%;
    height: auto;
    z-index: 1;
    left: 20px;
}


.dog {
    top: 300px;
    right: 670px;

}


/* .container {
    display: grid;
    column-gap: 200px;
    grid-template-columns: auto auto auto;
    margin-left: 135px;
    margin-top: -500px;

  
  }
  
  .container > div {

    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */


.yes {
    width: 190px;
    height: 80px;
    background-color: #2ea81bfe;
    margin-top: -150px;
    margin-left: -300px;
    border-radius:100px;


}

.no {
    width: 190px;
    height: 80px;
    background-color: #a81b1bfe;
    margin-top: -150px;
    margin-right: -210px;
    border-radius:100px;
    position: absolute;


}


.big {
    position: absolute;
    top: 100px;
    /* left: 410px; */
    font-size: 80px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

.in_yes {
    position: absolute;
    margin-top: 13px;
    margin-left: 55px;
    font-family: "Audiowide", sans-serif;
    text-align: center;
    font-size: 40px;
    color: #000;

}

.yes:hover {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
}


.no:hover {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
}

.hidden {
    display: none;
}


.in_no {
    top: -0px; 
    font-family: "Audiowide", sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
}

.in_yes:link {
    color: rgb(255, 177, 229);
    background-color: transparent;
    text-decoration: none;
}




.typewriter h1 {
    color: #fff;
    font-family: "Audiowide", sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}





/* Phone */
@media (max-width: 600px) {


    html
    {
        background-color: #ae97d8;
        background-image: url('DSC01194-1 (1).jpg');
        background-position: center top;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .ig {
        width: 20%;
        height: auto;
        z-index: 1;
        left: 0px;
      }
    
      #id{
        text-align: center;
        color: black;
        font-size: medium;
        position: absolute;
        top: 30%;
        left: 60px;
        font-family: "Audiowide", sans-serif;

      }

      .glass-effect-2 {
        background: rgba(255, 255, 255, 0.22);
        border-radius: 120px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.3px);
        -webkit-backdrop-filter: blur(1.3px);
        border: 1px solid rgba(46, 203, 41, 0.829);
        /* text-align: center; */
        height: 50px;
        width: 250px;
        margin-left: 3px;
        margin-top: 50px;
        display: grid;
        row-gap: 30px;
        position: relative;
      }



      .circle{
        width:50px;
        height:50px;
        background:rgb(91, 200, 100);
        border-radius:50%;
        position:absolute;
        top: 0; bottom:0; left:0;right:0;
        overflow:hidden;
        animation: circle 6s linear infinite;
        margin: auto;
        z-index: 1;
    
        }
    
        @keyframes circle{
            0%{
                transform:rotate(0deg)
                        translate(-100px)
                        rotate(0deg);
            
            }
            100%{
                transform:rotate(360deg)
                        translate(-100px)
                        rotate(-360deg);
            }
            }                
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    } 
    
    img { 
        clip-path: circle(50%);
        width:250px;
        height:250px;
        z-index: -1;
        position:absolute;
    }

    .glass-effect {
        background: rgba(255, 255, 255, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.3px);
        -webkit-backdrop-filter: blur(1.3px);
        border: 1px solid rgba(46, 203, 41, 0.829);
        text-align: center;
        height: 600px;
        width: 250px;
        margin-right: 0px;
        position: absolute;
        margin-top: 160px;
    
    }


    .main{
        width:200px;
        height:200px;
        border:1px solid #CCC;
        position:absolute;
        top:0; bottom:0; left:0;right:0;
        margin-top: 60px;
        margin-left: 120px;
        border-radius:50%; 
    }
    
    img { 
        clip-path: circle(50%);
        width:200px;
        height:200px;
        z-index: -1;
        position:absolute;
    }




}



@media (min-width: 768px) { 




    html
    {
        background-color: #ae97d8;
        background-image: url('DSC01194-1 (1).jpg');
        background-position: center top;
        background-size: auto;
        background-repeat: no-repeat;
    }



    .main{
        width:200px;
        height:200px;
        border:1px solid #CCC;
        position:absolute;
        top:0; bottom:0; left:0;right:0;
        margin-top: 60px;
        margin-left: 120px;
        border-radius:50%; 
    }
    

    html
    {
        background-color: #ae97d8;
        background-image: url('DSC01194-1 (1).jpg');
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dog {
        top: 330px;
        left: 390px;

    }

    .big {
        position: absolute;
        top: 100px;
        /* left: 410px; */
        font-size: 70px;
        text-align: center;
        font-family: "Audiowide", sans-serif;
    }
}
